.altura-msj-cons{
    margin: 19rem 0 0 0;
}

.altura-login{
    margin: 11rem 0 0 0;
    padding-bottom: 190px;
}

.title{
    font-size: 4rem;
}

@media (min-width: 768px) and (max-width: 1500px) {
    #copyright {
        padding: 0 30% 0 30%;
    }
}

.color_sitio{
    background-color: #1f2a44;
    color: #F18B31;
}

.color_sitio2{
    background-color: #ec6e00 !important;
    color: #ffffff !important;
}
.color_button{
    background-color: #1eca35 !important;
    color: #e1e7d3f1 !important;
}

.color_escritura{
    color: #2d60b8 !important;
}

.color_escritura2{
    color: #F18B31 !important
    
}



.head{
    height: 73px !important;
}

.boton_sidebar{
    padding: 20px 0 20px 23px !important;
}

.bienvenida{
    margin: 10% 0;
    padding-left: 8%
}

.titulo{
    margin: 4%;
}

.separacion{
    margin: 3%;
}

.margen{
    margin: 8%;
}

.ancho{
    width: 100%;
}

.padding{
    padding: 0 !important;
    margin: 0 !important ;
}


.ancho2{
    width: 200%;
}

.ancho3{
    width: 50%
}

.alto{
    height: 100%;
}

.separacion_final{
    height: 150px;
}

.no_flex{
    flex-wrap: initial !important;
}

.borde_estado{
    border-color: #F18B31 !important;
}

.custom1 { height: 350px; }

.center {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .center2 {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


