.altura-msj-cons{
    margin: 19rem 0 0 0;
}

.altura-login{
    margin: 11rem 0 0 0;
    padding-bottom: 190px;
}

.title{
    font-size: 4rem;
}

@media (min-width: 768px) and (max-width: 1500px) {
    #copyright {
        padding: 0 30% 0 30%;
    }
}

.color_sitio{
    background-color: #1f2a44;
    color: #F18B31;
}

.color_sitio2{
    background-color: #ec6e00 !important;
    color: #ffffff !important;
}

.color_escritura{
    color: #2d60b8 !important;
}

.head{
    height: 73px !important;
}

.boton_sidebar{
    padding: 20px 0 20px 23px !important;
}

.bienvenida{
    margin: 10% 0;
    padding-left: 8%
}

.titulo{
    margin: 4%;
}

.separacion{
    margin: 3%;
}

.ancho{
    width: 100%;
}

.ancho2{
    width: 200%;
}

.separacion_final{
    height: 150px;
}

.no_flex{
    flex-wrap: initial !important;
}



